
<div class="login-container">
    <img class  ="img" src = "assets/Image/Img.png" alt="Image Not available" width="200" height="100" aria-label="For screen readers" />
    <div class="logo">Lights Out!</div>
    <div class="description">Looking for a better way to discover new movies to watch? Look no further than Lights Out! 
        With our movie recommendation system and review page, you can create a profile, 
        rate movies you've seen, and receive personalized movie recommendations.
        discover your next favorite movie!</div>
    
    <div></div>   
     <div class="login-form">
        <div class="user">
            <label class = "user-label"for="username">User Name:</label>
            <input type="text" name="username" class="form-control"[(ngModel)]="username"/>
        </div>
        <div class="pass">
            <label class = "pass-label" for="password">Password:</label>
            <input  type="password" name="Password" class="form-control"[(ngModel)]="password"/>
        </div>
        <div class="btn-container">
            <div class="error">{{ errormsg }}</div>
            <button class="btn"(click)="login()">Login </button>
        </div>
    </div>
        </div>
