.movie-container{
    width: 1400px;
    margin: 0 auto;
    .top{
        display: flex;
        justify-content: space-between;

        .left{
            width: 500px;
            .name {
                font-size: 36px;
                font-weight: bold;
            }
            .rating {
                margin-bottom: 15px;
            }
            .cover{
                width: 200px;
                height: 300px;
                margin-left: 100px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .right{
            width: 900px;
            padding-top: 100px;
            .title {
                margin-bottom: 30px;
                font-weight: bold;
            }
            .rating-form{
                .form-group{
                    margin-top: 20px;
                    .spacing-label{
                        margin-right: 10px;
                    }
                }
                label{
                    font-weight: bold;
                    margin-bottom: 5px;
                }
                textarea {
                    width: 40%;
                    resize: none;   
                };
                .btn-container{
                    margin-top: 20px;
                }
            }
            
        }
    }
}